#header {
	background-color: rgba(0, 46, 93, 1);
	height: 500px;
}
#title h1 {
	color: white;
	font-family: 'Fredericka the Great', cursive;
	text-transform: uppercase;
	font-size: 85px;
	text-align: center;
}
#brand-img {
	position: relative;
	top: 200px;
}